
body {
    overflow-y: scroll;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

.container {
    max-width: 90%;
    margin-top: 5px;
    padding: 40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

    .container h1 {
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    .container label {
        display: block;
        margin-bottom: 10px;
        color: #eee;
        font-weight: bold;
    }

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #cc3366;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

    button:hover {
        background-color: #993355;
    }

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    position: relative;
    z-index: 1;
}

.message {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

    .message a {
        color: #ef1717;
        text-decoration: none;
        font-weight: bold;
    }
